/*RESET*/
:root {
  --bg-color: whitesmoke;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  background-color: var(--bg-color);
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

header {
  background-color: white;
  margin-bottom: 10px;
  height: 70px;
  padding-top: 10px;
  padding-left: 20px;
  display: block;
}

li {
  list-style: none;
}

main {
  margin: 0 auto;
  background-color: var(--bg-color);
  align-items: center;
}

/* HEADER */

.container-top {
  display: flex;
  align-items: center;
}

.container-top .logo {
  margin: 5px;
}

.container-top .logo2 {
  font-size: 40px;
  font-weight: bold;
}

/* VARIE TASK */

.blank {
  height: 50px;
}

.container-main {
  position: relative;
  background-color: white;
  margin: auto 200px;
  text-align: center;
  display: block;
  border-radius: 15px;


}

/* ADD */

.adding {
  height: 60px;
  text-align: left;
  padding-left: 40px;

}

nav {
  max-width: 800px;
  padding-top: 10px;
}

nav ul li {
  display: inline-block;
  text-align: center;
  margin: 0 auto;

}

nav ul li .li-box {

  text-align: center;
  font-size: 15px;
  display: inline-block;
  margin: 5px;
  padding: 8px;
  border-radius: 7px;
  background-color: rgb(68, 172, 242);
  color: white;
  font-weight: 800;
  cursor: pointer;
}

nav ul li .li-box-2 {

  text-align: center;
  padding: 5px;
  border-radius: 7px;
  font-weight: 800;
  color: rgb(214, 216, 215);
  border: 3px solid rgb(214, 216, 215);
  cursor: pointer;
}

/* HR */

.blk {
  height: 0;
  border-bottom: 3px solid var(--bg-color);

}

/* BIG SECTION */


.section {
  height: auto;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: left;
}


.arrow-down {
  vertical-align: middle;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  display: inline-block;
}

.container-main .section .ul-1 {
  display: inline-block;
  padding-bottom: 10px;
  font-size: 24px;
  font-weight: bolder;
  margin: auto;
  text-align: left;
}





.container-main .section .check {
  vertical-align: -5px;
  text-align: center;
  margin-right: 5px;
  height: 25px;
  width: 25px;
  border: 2px solid green;
  border-radius: 50%;
  color: green;
  display: inline-block;

}

.container-main .section .cross {
  vertical-align: -5px;
  margin-right: 5px;
  text-align: center;
  height: 25px;
  width: 25px;
  border: 2px solid red;
  border-radius: 50%;
  color: red;
  display: inline-block;

}

/* BADGES */

.badge-edit {
  font-size: 10px;
  border-radius: 12px;
  padding: 8px 8px;
  color: white;
  background-color: rgb(68, 172, 242);
  text-align: center;
}

.badge-q1 {
  font-size: 10px;
  border-radius: 12px;
  padding: 8px 8px;
  color: white;
  background-color: rgb(156, 113, 224);
  text-align: center;
}

.badge-rec {
  font-size: 10px;
  border-radius: 12px;
  padding: 8px 8px;
  color: white;
  background-color: rgb(99, 192, 168);
  text-align: center;
}

.badge-mob {
  font-size: 10px;
  border-radius: 12px;
  padding: 8px 8px;
  color: white;
  background-color: rgb(244, 158, 48);
  text-align: center;
}

.badge-web {
  font-size: 10px;
  border-radius: 12px;
  padding: 8px 8px;
  color: white;
  background-color: rgb(216, 99, 159);
  text-align: center;
}

.badge-sal {
  font-size: 10px;
  border-radius: 12px;
  padding: 8px 8px;
  color: white;
  background-color: rgb(177, 200, 44);
  text-align: center;
}

/* FINE BADGES */


.container-main .section div .text-li {
  text-align: center;
  font-size: 40px;
  font-weight: 300;
}

.container-main .section div {

  font-weight: 600;
  display: inline-block;


}

.container-main .section li {
  padding: 10px;
}