/*RESET*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  background-color: whitesmoke;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

img {
  max-width: 100%;
}

header {
  background-color: white;
  margin-bottom: 10px;
  height: 70px;
  padding-top: 10px;
  padding-left: 20px;
  display: block;
}

li {
  list-style: none;
}

main {
  margin: 0 auto;
  background-color: whitesmoke;
  align-items: center;
}

/* HEADER */

.container-top {
  display: flex;
  align-items: center
}

.container-top .logo {
  margin: 5px;
}

.container-top .logo2 {
  font-size: 40px;
  font-weight: bold;
}

/* VARIE TASK */

.blank {
  height: 50px;
}

.container-main {
  position: relative;
  background-color: white;
  margin: auto 200px;
  text-align: center;
  display: block;
  border-radius: 15px;


}

/* ADD */

.adding {
  height: 80px;
  text-align: left;
  padding-left: 40px;

}

nav {
  max-width: 800px;
  padding-top: 10px;
}

nav ul li {
  display: inline-block;
  text-align: center;
  margin: 0 auto;

}

nav ul li .li-box {
  height: 35px;
  text-align: center;
  font-size: 15px;
  display: inline-block;
  margin: 5px;
  padding: 10px;
  border-radius: 7px;
  background-color: rgb(68, 172, 242);
  color: white;
  font-weight: 800;
}

nav ul li .li-box-2 {
  height: 35px;
  text-align: center;
  padding: 5px;
  border-radius: 7px;
  font-weight: 800;
  color: rgb(214, 216, 215);
  border: 3px solid rgb(214, 216, 215);
}

/* HR */

.blk {
  position: inherit;
  width: max-content;
  height: 3px;
  background-color: whitesmoke;

}